
obj/

bin/Debug/netcoreapp3.1/

.vs/NumbersInCSharp/v16/Server/sqlite3/

.vs/learning-CSharp/v16/

*.v2

BranchesAndLoops/bin/Debug/netcoreapp3.1/

NumbersInCSharp/bin/Debug/netcoreapp3.1/

.vs/NumbersInCSharp/v16/

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

list-tutorial/bin/Debug/netcoreapp3.1/

classes/.vs/classes/v16/

NumbersInCSharp/.vs/NumbersInCSharp/v16/

listTutorial/bin/Debug/netcoreapp3.1/

BranchesAndLoops/.vs/BranchesAndLoops/v16/

BranchesAndLoops/bin/Release/netcoreapp3.1/BranchesAndLoops.deps.json

BranchesAndLoops/bin/Release/netcoreapp3.1/BranchesAndLoops.dll

BranchesAndLoops/bin/Release/netcoreapp3.1/BranchesAndLoops.exe

BranchesAndLoops/bin/Release/netcoreapp3.1/BranchesAndLoops.pdb

BranchesAndLoops/bin/Release/netcoreapp3.1/BranchesAndLoops.runtimeconfig.dev.json

BranchesAndLoops/bin/Release/netcoreapp3.1/BranchesAndLoops.runtimeconfig.json

BranchesAndLoops/BranchesAndLoops.sln

classes/.vs/slnx.sqlite

classes/.vs/VSWorkspaceState.json

classes/.vs/

classes/bin/Debug/netcoreapp3.1/

BranchesAndLoops/bin/Release/netcoreapp3.1/

listTutorial/.vs/list-tutorial/v16/

listTutorial/.vs/listTutorial/v16/
